<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <pages>
            <namespaces>
                <add namespace="WindowsAuthWeb.Common" />
                <add namespace="FishDemoCodeLib" />
            </namespaces>
        </pages>
        <!--使用Windows身份认证模式-->
        <authentication mode="Windows" />
        <!--启用ASP.NET模拟-->
        <!--
        IIS配置
        1.启用32位应用程序 True
        2.托管管道模式 经典
        3.ISAPI和CGI限制 把禁止的DotNet版本项设置为允许
        -->
        <identity impersonate="true" />
    </system.web>

</configuration>
