<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="FishDemoCodeLib" />
        <add namespace="FormsAuthWeb" />
      </namespaces>
    </pages>
    
    <!--Forms认证是由FormsAuthenticationModule实现的-->
    <!--Forms身份认证是在web.config中指定的，我们还可以设置Forms身份认证的其它配置参数-->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="LoginCookieName" loginUrl="~/Default.aspx"></forms>
    </authentication>
    
    <!--URL的授权检查是由UrlAuthorizationModule实现的-->
    <!--禁止匿名用户的访问-->
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

  <!--访问受限时会自动跳转到登录页面-->
  <location path="MyInfo.aspx">
    <system.web>
      <authorization>
        <!--使用users属性，值为逗号分隔的用户名列表-->
        <!--问号 (?) 表示匿名用户-->
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <!--使用roles属性，值为逗号分隔的角色列表-->
        <allow roles="Admin" />
        <!--星号 (*) 表示所有用户-->
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>